<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">"Shaping the Future of Technology."</h1>
        <h2 class="home-author">Berke Erçetin, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a passionate computer engineer when it comes to solving problems using technology. I want to work
concurrently on different technologies, closely follow innovations, and build fast-running systems by applying
them to my systems.
        </blockquote>
        <button>
<!--             <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a> -->
                        <a r  class="a-green">
                > Coming Soon
            </a>
        </button>
      </div>
    </div>
  </div>
  